body {
    background-color: #D5E1EF;
    margin: 0;
     font-family: "Outfit", sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.qr {
    background-color: #fff;
    border-radius: 20px;
padding: 16px 16px 40px 16px;

text-align: center;
}
.qr img {

    max-width: 100%;
    border-radius: 10px;
    width: 288px;
    height: 288px;
}

.qr h3 {
    color: #1F314F;
    font-size: 22px;
    font-weight: bold;
    line-height: 120%;
    width: 248px;
    margin: 24px auto 16px auto;

}

.qr p {
    color: #68778D;
    font-size: 15px;
    line-height: 140%;
    width: 248px;
    margin: 0 auto;
}

